<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>TALLYTUNE</title>
    <link href= "/joinparty.css" rel="stylesheet">
</head>
<body>
	<div id="page">
		<div id"header-page">
			<div id="header">
				<div class="container">
				<div id="logo">

					<h1>TallyTune</h1>

					<form method="GET" action="/join">
					 <input type="text" name="username" id="inputNameBox" value="" class="resizedTextbox" placeholder="Username" type="submit"/>

           			<input type="text" name="roomcode" id="inputCodeBox" value="" class="resizedTextbox" placeholder="Room Code" type="submit"/>

           			<button type="submit" class="button">Join Now!</button>
           			</form>

           			<div id="video">
					<video src="http://static.videezy.com/system/resources/previews/000/002/654/original/mixing-on-sound-board.mp4" autoplay loop></video>
				</div>
			</div>
				</div>	
			</div>
		</div>
	</div>	
</body>	
</html>